
.text1{
	font-family: 'Arizonia', cursive;
	font-size: 40px;
}
.text2{
	font-family: 'IndieFlower';
	font-size: 40px;
}
.text3{
	font-family: "ALK Life", sans-serif;
	font-size: 40px;
}
.text4{
	font-family: 'ALK';
	font-size: 40px;
}